
@{
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}
<link rel="stylesheet" href="~/static/css/StyleStore.css" />
<!DOCTYPE html>

<div class="prodtes">

    <div class="cards-top">
        <div class="ui card">
            <div class="image">
                <img src="~/static/Images/Alberto Costa.png">
            </div>
            <div class="content">

                <div class="header">Nome do Produto<i class="heart outline icon fav" style="margin-left: 50px; color: #b492ff "></i> </div>

                <div class="meta">
                    <a>Categoria</a>
                </div>
                <div class="description">
                    Descrição do produto.
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    R$ 00,00
                </span>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label class="text-muted">Selecionar produto</label>
                </div>
            </div>
        </div>
    </div>

    <div class="avl">

        <div class="ui icon header">
            <i class="mini star outline icon" style="color: yellow"></i>
        </div>
        <div class="ui icon header">
            <i class="mini star outline icon" style="color: yellow"></i>
        </div>
        <div class="ui icon header">
            <i class="mini star outline icon" style="color: yellow"></i>
        </div>
        <div class="ui icon header">
            <i class="mini star outline icon" style="color: yellow"></i>
        </div>
        <div class="ui icon header">
            <i class="mini star outline icon" style="color: yellow"></i>
        </div>
        <div class="ui icon header">
            <p>(0)</p>
        </div>
        <div class="ui icon header">
            <i class="mini question circle outline icon"></i>
        </div>
    </div>

</div>