
@{

    IEnumerable<LotusProject.Models.ViewModels.ViewPackages> Package = (ViewBag.Pack != null) ? ViewBag.Pack : new LotusProject.Models.ViewModels.ViewPackages();
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/static/css/StyleReservation.css">

    <div class="row">

        @foreach (var item in Package)
        {
            <div class="col-md-3">

                <div class="ui cards ">
                    <div class="card main-cards"  >
                        <div class="image">
                            <img src="~/static/Images/ImageKnowUs.png">
                        </div>
                        <div class="content">
                            <div class="header">@item.Package</div>
                            <div class="meta">
                                <a>Duração do pacote</a>
                            </div>
                            <div class="description">
                                @item.Description
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="right floated price">
                                R$@item.Price
                            </span>
                            @Html.ActionLink("Comprar", "Payment", "Payment", new { id = item.PackCode }, new { @class = "ui inverted violet button" })
                        </div>
                    </div>
                </div>

            </div>
            
        }

    </div>


</div>