
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/static/css/InitialPage.css">
    
}

<div class="main-top imgmain">
    <div class="text-wlc">
        <div class="img-logo">
            <img src="~/static/Images/Design_Logo_-_TCC__1_-removebg-preview.png" style="max-width: 20%; max-height: 20%; min-width: 15%; min-height: 15%;" />
        </div>

        <h1>Seja bem-vindo(a) ao Lotus SPA.</h1>
    </div>
    <div class="row row-cust">

        <div class="col-md-2 center-content" style="padding-top: 15px">
            <div class="btnreserva">
                <a href="~/Reservation/Reservation" class="ui inverted violet button rounded-pill" style="width:170px">Fazer reserva</a>
            </div>
        </div>

       
    </div>
</div>



