@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
:root {
    --secundary-color: #2A435B;
    --primary-color: #b492ff
}



.footer {
    background-color: var(--secundary-color);
    color: antiquewhite;
    text-decoration: none !important;
}
    .footer ul {
        text-align: start;
        padding-inline-start: 0;
    }
    .footer ul li {
        list-style: none;
    }

        .footer ul li a {
            text-decoration: none;
            color: white;
        }
            .footer ul li a:hover{
                color: var(--primary-color)
            }


            .photosvglogin {
                width: 90%;
                height: 90%
            }

.custom-modal {
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-custom {
    width: 70%
}



.row-custom {
    height: 100%;
    width: 97%;
}

.form-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    border-radius: 20px;
    border-width: 1px;
    border-color: var(--primary-color)
}



.header-custom.btn-close {
    margin-right: 1%
}

.nav-link:hover {
    border-bottom-width: 3px;
    color: white !important;
    border-bottom-color: var(--primary-color);
}

.nav-link {
    border-bottom: solid;
    border-bottom-color: var(--secundary-color);
    font-size: 16px;
    border-bottom-width: 3px;
    margin-right: 15px;
    margin-left: 15px;
    color: var(--primary-color) !important;
}

    .menu-font {
        font-family: 'Red Hat Mono', monospace;
    }


    .center-content {
        border-radius: 5px;
        margin-right: 15px;
        margin-left: 15px;
        color: var(--primary-color) !important;
    }

.buttoncarcolor {
    background-color: var(--secundary-color) !important;
}

a.nav-link {
    display: flex;
    justify-content: center;

}

.drop{
    background-color: var(--secundary-color)
}


.drop:hover {
    color: var(--primary-color) !important;
}

.center-content {
    display: flex;
    justify-content: center;
}

.search {
    margin-right: 15px;
    margin-left: 15px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}
/*
.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

    .btn-outline-primary:hover {
        border-color: var(--secundary-color) !important;
        color: var(--secundary-color) !important;
        background-color: var(--primary-color);
    }

*/

nav.navbar.navbar-expand-lg.navbar-light.fluid {
    padding: 0px;
    background-color: var(--secundary-color);
}

::-webkit-scrollbar {
    width: 0px;
}


::-webkit-scrollbar-track {
    background: var(--secundary-color);
}


::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}


    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
