
@{
    ViewBag.Title = "AdminatrativeCenterEmployee";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h2>AdminatrativeCenterEmployee</h2>


@{
    ViewBag.Title = "AdminatrativeCenterEmployee";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";

    @*Cria uma dessa pra produto -> IEnumerable<ClassLibraryModels.Models.Employee> Emp = (ViewBag.ViewAllEmp != null) ? ViewBag.ViewAllEmp : new ClassLibraryModels.Models.Employee();}*@
    DateTime tempo = DateTime.Now;
    string salutation;
    if (tempo.Hour > 6 && tempo.Hour < 12)
    {
        salutation = "Bom dia, ";

    }
    else if (tempo.Hour >= 12 && tempo.Hour < 18)
    {
        salutation = "Boa tarde, ";
    }
    else
    {
        salutation = "Boa noite, ";
    }
}



<div class="row">
    <div class="col-md-6">

        <div class="card">
            <div class="card-body">
                <div class="row g-0 w-100">
                    <div class="col-6">
                        <h5 class="card-title">@salutation Gabriel Cerruti</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>

                    <div class="col-6 align-self-end text-end">
                        <img src="~/static/Images/svg/welcomedash.svg" class="img-welcome" />
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

</div>

<div class="card text-center card-reservations">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>