
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";


    DateTime tempo = DateTime.Now;
    string salutation;
    if (tempo.Hour > 6 && tempo.Hour < 12)
    {
        salutation = "Bom dia, ";

    }
    else if (tempo.Hour >= 12 && tempo.Hour < 18)
    {
        salutation = "Boa tarde, ";
    }
    else
    {
        salutation = "Boa noite, ";
    }
}

<link rel="stylesheet" href="~/static/css/styleDashboard.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<div class="row">
    <div class="col-md-3">
        <div class="card card-top-page">
            <div class="content">
                <h3> @salutation Gabriel Cerruti</h3>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-top-page">
            <div class="align-items-center row">
                <div class="col">
                    <h6>Pedidos</h6>
                    <span>147</span>
                </div>
                <div class="col-auto">
                    <i class="shopping bag icon" style="font-size: 25px; padding-top:10px"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3">

        <div class="card card-top-page">
            <div class="align-items-center row">
                <div class="col">
                    <h6>Valor total</h6>
                    <span>21.371</span>
                </div>
                <div class="col-auto">
                    <i class="dollar sign icon" style="font-size: 25px; padding-top:10px"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-top-page">
            <div class="align-items-center row">
                <div class="col">
                    <h6>Reservas</h6>
                    <span>15</span>
                </div>
                <div class="col-auto">
                    <i class="tags icon" style="font-size: 25px; padding-top: 10px"></i>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-md-9">
        <div class="card text-center card-chart" style="max-height:430px">
            <div class="card-header" style="color: white">
                Vendas
            </div>
            <div class="card-body">
                <canvas class="myChart" style="max-height:360px"></canvas>
            </div>

        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-employee">
            <div class="card-header text-center" style="color: white">
                Funcionários
            </div>
            <div class="card-body">
                <table class="table striped" style="color: white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Funcionarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="color: white">1</td>
                            <td style="color: white">Monic</td>
                        </tr>
                        <tr>
                            <td style="color: white">2</td>
                            <td style="color: white">Mark</td>
                        </tr>
                        <tr>
                            <td style="color: white">3</td>
                            <td style="color: white">Fernanda</td>
                        </tr>
                        <tr>
                            <td style="color: white">4</td>
                            <td style="color: white">David</td>
                        </tr>
                        <tr>
                            <td style="color: white">5</td>
                            <td style="color: white">Gabriel</td>
                        </tr>
                        <tr>
                            <td style="color: white">6</td>
                            <td style="color: white">Antony</td>
                        </tr>
                        <tr>
                            <td style="color: white">7</td>
                            <td style="color: white">Yasmin</td>
                        </tr>
                        <tr>
                            <td style="color: white">8</td>
                            <td style="color: white">Bob</td>
                        </tr>
                        
                        

                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center" style="color: white">
                Ver todos
            </div>
        </div>
    </div>
</div>







<div class="card card-reserve" style="top: 10px">
    <div class="card-header text-center">
        Reservas
    </div>
    <div class="card-body">
        <table class="table striped" style="color: white">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: white">1</td>
                    <td style="color: white">Monic</td>
                    <td style="color: white">25/12/2021</td>
                    <td style="color: white"><span class="text-danger">●</span> Cancelado</td>
                </tr>
                <tr>
                    <td style="color: white">2</td>
                    <td style="color: white">Mark</td>
                    <td style="color: white">23/12/2021</td>
                    <td style="color: white"><span class="text-warning">●</span> Pendente</td>
                </tr>
                <tr>
                    <td style="color: white">3</td>
                    <td style="color: white">Fernanda</td>
                    <td style="color: white">13/11/2021</td>
                    <td style="color: white"><span class="text-info">●</span> Acontecendo</td>
                </tr>
                <tr>
                    <td style="color: white">4</td>
                    <td style="color: white">David</td>
                    <td style="color: white">10/11/2021</td>
                    <td style="color: white"><span class="text-success">●</span> Atendido</td>
                </tr>
                <tr>
                    <td style="color: white">5</td>
                    <td style="color: white">Gabriel</td>
                    <td style="color: white">08/11/2021</td>
                    <td style="color: white"><span class="text-success">●</span> Atendido</td>
                </tr>

            </tbody>
        </table>

    </div>
    <div class="card-footer text-center">
        Ver todas
    </div>
</div>








<script>
    var ctx = document.getElementsByClassName("myChart");



    var chartGraph = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: [{
                label: "Vendas - @DateTime.Now.Year",
                data: [70, 130, 104, 107, 190, 106, 160, 140, 126, 170, 320, 222, 324],
                borderWidth: 1,
                borderColor: '#b492ff',
                fontColor: '#b492ff'
            },
                {
                label: "Meta - @DateTime.Now.Year",
                    data: [100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100],
                borderWidth: 1,
                borderColor: '#fff',
                fontColor: '#b492ff'
            }

            ]
        },
        options: {
            plugins: {
                legend: false
            }

        }
    });
</script>
