
@{
    ViewBag.Title = "Funcionários";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="card text-center" style="background-color: #233240;">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h1 class="card-title" style="color: white">Gerenciamento de Funcionários</h1>
        <p class="card-text" style="color: white">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Day
    </div>
</div>

<div class="row" style="padding-top: 10px; padding-left: 10px; padding-right: 10px">
    
      
    <div class="row">
        <div class="col-md-3" style="padding-top: 10px; ">
            <div class="ui card" style="background-color: #233240; border-color: #2A435B;">
                <div class="image">
                    <img src="~/static/Images/Janice Pereira.png">
                </div>
                <div class="content">
                    <a class="header" style="color: white">Kristy</a>
                    <div class="meta">
                        <span class="date" style="color: white">LoginUser</span>
                    </div>
                    <div class="description" style="color: white">
                        Cargo Funcionario
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui teal button" style="height: 30px; font-size: 12px;">Detalhes</button>

                </div>
            </div>
        </div>

        <div class="col-md-3" style="padding-top: 10px">
            <div class="ui card" style="background-color: #233240; ">
                <div class="image">
                    <img src="~/static/Images/Janice Pereira.png">
                </div>
                <div class="content">
                    <a class="header" style="color: white">Kristy</a>
                    <div class="meta">
                        <span class="date" style="color: white">LoginUser</span>
                    </div>
                    <div class="description" style="color: white">
                        Cargo Funcionario
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui teal button" style="height: 30px; font-size: 12px;">Detalhes</button>

                </div>
            </div>
        </div>

        <div class="col-md-3" style="padding-top: 10px">
            <div class="ui card" style="background-color: #233240; ">
                <div class="image">
                    <img src="~/static/Images/Janice Pereira.png">
                </div>
                <div class="content">
                    <a class="header" style="color: white">Kristy</a>
                    <div class="meta">
                        <span class="date" style="color: white">LoginUser</span>
                    </div>
                    <div class="description" style="color: white">
                        Cargo Funcionario
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui teal button" style="height: 30px; font-size: 12px;">Detalhes</button>

                </div>
            </div>
        </div>

        <div class="col-md-3" style="padding-top: 10px">
            <div class="ui card" style="background-color: #233240; border: none">
                <div class="image">
                    <img src="~/static/Images/Janice Pereira.png">
                </div>
                <div class="content">
                    <a class="header" style="color: white">Kristy</a>
                    <div class="meta">
                        <span class="date" style="color: white">LoginUser</span>
                    </div>
                    <div class="description" style="color: white">
                        Cargo Funcionario
                    </div>
                </div>
                <div class="extra content">
                    <button class="ui teal button" style="height: 30px; font-size: 12px;">Detalhes</button>

                </div>
            </div>
        </div>



    </div>

</div>
       
